<!DOCTYPE html>
<html>
  <head>
    <title>RailsSimpleAirbnb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <ul class="nav justify-content-between bg-light mb-3">
      <li class="nav-item">
        <%= link_to "Simple Airnb", flats_path, class: " h3 nav-link text-body" %>
      </li>
      <li class="nav-item d-flex">
        <%= form_tag flats_path, method: :get, class: "form-inline my-2 my-lg-0" do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search All Flats", class: "form-control mr-sm-2" %>
          <%= submit_tag "Search", class: "btn btn-outline-success my-2 my-sm-0" %>
          <%= link_to "Add flat", new_flat_path, class: "btn btn-outline-primary  my-3 mx-2" %>
        <% end %>
      </li>
    </ul>
    <%= yield %>
  </body>
</html>
